---
import Header from "../components/Header.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Horror Movies Blog Posts</title>
	</head>
	<body>

        <Header />

		<h1>Horror Movies Blog Categories</h1>

        <ol>
            <li><a href="/posts/animatedhorrormovies">Animated Horror Movies</a></li>
            <li><a href="/posts/asianhorrormovies">Asian Horror Movies</a></li>
            <li><a href="/posts/modernhorrormovies">Modern Horror Movies</a></li>
		</ol>

	</body>
</html>
