---
import Header from "../components/Header.astro";
import Blogs from "../components/Blogs.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Horror Movies Blog Posts</title>
	</head>
	<body>

        <Header />

		<h1>Horror Movies</h1>

        <ul>
            <a href="/posts/animatedhorrormovies">Animated Horror Movies</a>
            <a href="/posts/asianhorrormovies">Asian Horror Movies</a>
            <a href="/posts/modernhorrormovies">Modern Horror Movies</a>
        </ul>

	</body>
</html>
